@font-face {
  font-family: "GTMaru";
  font-weight: 300;
  font-style: normal;
  src: url("./GT-Maru-Light.woff2");
}

@font-face {
  font-family: "GTMaru";
  font-weight: normal;
  font-style: normal;
  src: url("./GT-Maru-Regular.woff2");
}

@font-face {
  font-family: "GTMaru";
  font-weight: 500;
  font-style: normal;
  src: url("./GT-Maru-Medium.woff2");
}

@font-face {
  font-family: "GTMaru";
  font-weight: bold;
  font-style: normal;
  src: url("./GT-Maru-Bold.woff2");
}

@font-face {
  font-family: "LarsBuzz";
  font-weight: normal;
  font-style: normal;
  src: url("./LarsClubhouse-Regular.woff");
}
